/* General Styles */
body {
    background-color: #ffffff;
    color: #987540;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

/* navbar */
header {
    background-color: #ffffff;
    color: #987540;
    padding: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Agar elemen di dalam container berada di tengah secara vertikal */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}
header .logo{
    font-weight: bold;
    font-size:22px;
}
header a {
    text-decoration: none;
    color: #604723;
}

header nav {
    display: flex;
    gap: 15px; /* Memberikan jarak antar link */
}

header nav a {
    color: #987540;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 5px 10px; /* Tambahkan padding agar terlihat lebih rapi */
}

header nav a:hover {
    background-color: #987540;
    color: white;
    transition-duration: 0.3s;
}

/*  */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.product-selection h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #6C441E;
}

.product-selection p {
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
    color: #6C441E;
}

.primary-button {
    display: flex;
    width: fit-content;
    font-size: medium;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #A67C3A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-items: left;
}
.primary-button:hover {
    background-color: #8b612e;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.product-card:hover{
    background-color:whitesmoke;
}
.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 2px solid #ccc;
}

.product-card h2 {
    font-size: 20px;
    margin: 10px 0;
    color: #97714e;
}

.product-card p {
    font-size: 15px;
    font-weight: medium;
    margin-bottom: 10px;
    color: #6C441E;
}

.product-card .price {
    font-weight: medium;
    color:rgb(245, 68, 68);
    margin-bottom: 10px;
}

/* Dropdown */
/* .dropdown{
    display: inline-block;
    margin-bottom: 30px;
}
.dropdown button{
    background-color: #987540;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: medium;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    background-color: #987540;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #6c441e6a;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: #6C441E;
}

.dropdown a:hover{
    background-color: rgb(107, 107, 107);
} */
/* */



#button {
    background-color: #987540;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}

#button:focus {
    outline: none;
}

.dropdown {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    position:absolute;
}

.dropdown li {
    padding: 10px;
}

.dropdown li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
}

.dropdown li a:hover {
    background-color: #f1f1f1;
}
  

/* footer */
footer {
    background-color:#745A34;
    color: white;
    padding: 20px 0;
}

footer .container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer h3 {
    margin-top: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer .footer-info {
    display: flex;
    justify-content: center;
    gap: 150px;
}

footer .footer-set{
    gap: 50px;
}

footer .footer-info img {
    max-width: 100%;
}

footer .footer-info div {
    flex: 1;
}

footer .footer-info a {
    margin-right: 10px;
}

footer .footer-sosial{
    display: flex;
}
/*  */
